@model UserData
@{
    ViewData["Title"] = "Update User Data";
}

<h1>Updtae user data</h1>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form asp-controller="UserData" asp-action="Update">
    <input type="hidden" asp-for="Id"/>
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="LastName" class="form-label"></label>
        <input type="text" asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Addres" class="form-label"></label>
        <input type="text" asp-for="Addres" class="form-control" />
        <span asp-validation-for="Addres" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="phone" class="form-label"></label>
        <input type="text" asp-for="phone" class="form-control" />
        <span asp-validation-for="phone" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">SEND</button>
    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}