
@{
    ViewData["Title"] = "Gracias";
}
<h1>Gracias por ponerte en contacto conmigo</h1>
<p>Te contestare el mensaje lo mas pronto posible</p>
<div>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Home"><i class="bi bi-house-door"> Volver</i></a>
</div>