@{
    ViewData["Title"] = "Home Page";
}

<div>
    Sin ratio
</div>

<iframe width="560" height="315" src="https://www.youtube.com/embed/livPGtQsR_s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<div>
    Con ratio de 16x 9
</div>

<div class="ratio ratio-16x9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/livPGtQsR_s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>